html{
  scroll-snap-type: mandatory
}

.App {
  color: aliceblue;
  text-align: center;
  background-color: #282c34;
 
  place-items:center;
  display:grid
}
.app-videos::-webkit-scrollbar
{
  display: none;
}
.app-videos{
-ms-overflow-style:none;
scrollbar-width: none;

}
